div{
    background: pink;
    margin: 20px;
    border-top: solid 20px purple;
    border-bottom: solid 20px purple;
    border-radius: 20px;
    padding: 30px;
}
#green, #red, #blue{
    text-align: center;
    color: white;
}

#green{
    padding: 60px 0px 40px 0px;
    background: green;
    border:5px dashed yellow;
}
#red{
    padding: 20px 0px 80px 0px;
    background: red;
    width: 400px;
    border-right: 20px solid orange;
    margin: 30px 0px 50px 0px;
}

#blue{
    background: blue;
    width: 50%;
    border: 5px dotted #000;
}