body{
    background-color: aliceblue;
    height: fit-content;
}
div{
    background-color: lightpink;
    border-radius: 20px;
}
#green{
    background-color: green;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;

}
#red{
    background-color: red;
    margin-top: 30px;
    margin-left: 30px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
    border-right: 20px orange;
   
}
#blue{
    background: blue;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}